body {
    font-family: "RobotoRegular", sans-serif;
    margin: 0;
}
.hidden {
    display: none;
}
.main_mnu_button {
    display: none;
    background-color: #eee;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
}
.price {
    position: absolute;
    background: #9b3dac;
    width: 120px; height: 120px;
    border: #9b3dac solid 1px;
    border-radius: 100%;
    z-index: 20;
    text-align: center;
    font-family: "RobotoLight", sans-serif;
}
.price p:first-child {
    margin: 15px 0 5px 0;
    text-decoration: line-through;
    font-size: 16px;
}
.price p:nth-child(2) {
    font-size: 26px;
    margin: 0;
}
.price .price-sale {
    position: absolute; bottom: 45px; right: -40px;
    background: #fff;
    width: 70px; height: 70px;
    line-height: 65px;
    border: #fff solid 1px;
    border-radius: 100%;
    z-index: 21;
    text-align: center;
    color: #9b3dac;
    font-size: 24px;
    transition: 0.2s;
}
.price:hover .price-sale {
    transform: scale(1.3, 1.3);
}
button.btn {
    color: #fff;
    display: inline-block;
    font: 18px "RobotoBold";
    text-transform: uppercase;
    background: #9c3fad;
    border: 3px solid #9c3fad;
    border-radius: 100px;
    padding: 15px 35px;
    min-width: 265px;
    margin-top: 25px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
button.btn:hover {
    background: #e98a2e;
    border-color: #623c16;
}

.user-response {
    margin-top: 65px;
    text-align: center;
    display: block;
}
textarea {
    border: 2px #e0e0e0 solid;
    border-radius: 100px;
    resize: none;
    outline: none;
    color: #000;
    font-size: 18px;
    padding: 10px 30px;
}
textarea::placeholder {
    color: #cfcfcf;
}
textarea:focus {
    border-color: #e98a2e;
    transition: .3s;
}
.user-contacts {
    display: inline-block;
}
.user-contacts textarea {
    width: 300px; height: 50px;
    display: block;
    margin-bottom: 10px;
}
.user-comment {
    width: 485px; height: 115px;
    border-radius: 20px;
    vertical-align: top;
    margin-left: 12px;
}




.popup-background {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;
    padding: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 1;
    display: block;
}
.popup-wrap.hidden + .popup-background {
    opacity: 0;
    display: none;
}
.popup-wrap {
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background: #eee;
    padding: 50px 40px;
    text-align: center;
    border-radius: 5px;
    z-index: 200;
    transition: 0.4s;
}
.popup-wrap #popup-cancel {
    position: absolute; top: 15px; right: 15px;
    cursor: pointer;
}
.popup-wrap #popup-cancel:hover {
    color: #9c3fad;
}
.popup-wrap.hidden {
    transform: translate(-50%, calc(-50vh - 100%));
    display: block;
}
.popup-wrap h3 {
    font: 32px "RobotoSlabBold";
    margin: 0;
    text-transform: uppercase;
}
.popup-wrap p {
    font: 14px "RobotoSlabRegular";
    color: #424242;
    margin-bottom: 35px;
}
.popup-wrap input {
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 40px;
    font: 16px "RobotoLight";
}
.popup-wrap input.phone {
    margin: 10px auto;
}
.popup-wrap input:focus {
    border-color: #e98a2e;
    outline: none;
}
.popup-wrap .btn {
    padding: 10px 15px;
}



nav {
    position: fixed; top: 0; right: 0; left: 0;
    padding-top: 25px;
    z-index: 30;
    transition: 0.6s;
}
nav:before {
    content: '';
    background-color: #fff;
    position: absolute; top: 0; right: 0; left: 0;
    height: 78px;
    opacity: 0;
    transform: translate(0, -100%);
    transition: 0.3s;
    box-shadow: rgba(0,0,0,0.2) 0 3px 15px;
}
nav .logo {
    background: url("../img/logo.png");
    display: block;
    width: 170px; height: 45px;
}
nav a {
    font: 14px "RobotoSlabRegular";
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
nav a:hover {
    color: #9b3dac;
    text-decoration: none;
}
nav ul {
    text-align: center;
}
nav .menu > li {
    display: inline-block;
    margin: 0 15px 10px 15px;
}
.menu a.accentuated {
    color: #9b3dac;
    font-family: 'RobotoSlabBold', sans-serif;
}
nav .tel {
    float: right;
    text-align: right;
    width: 200px;
}
nav .tel a:first-child {
    font: 20px "RobotoSlabBold";
}
nav .tel a:last-child {
    font: 12px "RobotoLight";
    text-decoration: underline;
}
nav .tel a:last-child:hover {
    font-size: 12px;
    text-decoration: none;
}
nav.scrolled {
    padding-top: 20px;
    transition: 0.2s;
}
nav.scrolled:before {
    opacity: 1;
    transform: translate(0, 0);
}
nav.scrolled .logo {
    background: url("../img/logo-black.png");
}
nav.scrolled a {
    color: #000;
}
nav.scrolled a:hover {
    color: #9b3dac;
}



header {
    background: url("../img/bg1.png") no-repeat center center;
    background-size: cover;
    height: 600px;
    /*height: 100vh;*/
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
header .col-lg-12 {
    height: 650px;
    position: relative;
    /*height: 100vh;*/
}
header .wrap {
    font-family: "RobotoSlabRegular", sans-serif;
    z-index: 11;
    padding-top: 150px;
}
header .wrap h1 {
    font: 48px "RobotoSlabBold";
    color: #9b3dac;
    -webkit-text-stroke: 2px #43334d;
    margin: 15px 0 25px 0;
}
header .wrap h1 strong {
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 0 transparent;
}
header .wrap p {
    font: 20px "RobotoSlabLight";
    margin: 0;
    width: 80%;
}
header .wrap ul {
    margin-top: 40px;
}
header .wrap ul li {
    font-size: 18px;
    position: relative;
    padding-left: 25px;
}
header .wrap ul li:last-child {
    font-size: 12px;
}
header .wrap ul li:first-child:before {
    content: url("../img/header_flower.png");
    color: #9b3dac;
    position: absolute; top: 2px; left: 0;
}
header .wrap ul li:nth-child(2):before {
    content: url("../img/header_lamp.png");
    color: #9b3dac;
    position: absolute; top: 2px; left: 2px;
}
header .wrap ul li:nth-child(3):before {
    content: url("../img/header_delivery.png");
    color: #9b3dac;
    position: absolute; top: 2px; left: 0;
}
header .wrap:before {
    content: '';
    background: url("../img/bottle.png") no-repeat;
    background-size: 90%;
    width: 657px; height: 550px;
    /*height: 100vh; width: 100vh;*/
    position: absolute; top: 50px; right: -140px;
    z-index: 10;
}
header .price {
    bottom: 100px; right: 110px;
}


.specification {
    background-color: #eee;
}
.specification .specification-bottle-wrap {
    display: block;
    margin: 140px auto;
    width: 420px; height: 420px;
    background-color: #e98a2e;
    border-radius: 100%;
    position: relative;
}
.specification h2 {
    position: absolute; top: 100px; left: 150px;
    width: 300px;
    text-align: right;
    font: 30px "RobotoSlabRegular";
    z-index: 10;
}
.specification h2:before {
    content: '';
    position: absolute; top: 0; right: 0;
    transform: translate(35%, -25%);
    width: 270px; height: 270px;
    background: #fff;
    border-radius: 100%;
    z-index: -1;
}
.specification h2 strong {
    text-transform: uppercase;
}
.specification-bottle-wrap img {
    position: absolute;
    top: -50px; right: 70px;
    width: 70%;
}

.specification .specification-item:nth-child(1) {
    text-align: right;
    position: absolute; right: calc(50% + 340px); top: 340px;
}
.specification .specification-item:nth-child(2) {
    text-align: right;
    position: absolute; right: calc(50% + 300px); top: 500px;
}
.specification .specification-item:nth-child(3) {
    position: absolute; left: calc(50% + 290px); top: 150px;
}
.specification .specification-item:nth-child(4) {
    position: absolute; left: calc(50% + 340px); top: 335px;
}
.specification .specification-item:nth-child(5) {
    position: absolute; left: calc(50% + 290px); top: 500px;
}
.specification .specification-item .txt{
    position: relative;
    display: inline-block;
    font: 16px "RobotoSlabRegular";
    color: #fff;
    padding: 15px 30px;
    background: #9c3fad;
    border-radius: 5px;
    height: 70px;
    transition: .4s;
    box-shadow: rgba(0,0,0,0.2) 0 3px 15px;
}
.specification .specification-item .icon {
    text-align: center;
    font-size: 0;
    position: absolute;
    transform: translate(-80%, -15%);
    width: 100px; height: 100px;
    background: #9c3fad;
    border: 4px solid #e98a2e;
    border-radius: 100%;
    transition: .4s;
}
.specification .specification-item .icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.specification .specification-item:nth-child(1) .icon, .specification .specification-item:nth-child(2) .icon {
    right: 0;
    transform: translate(80%, -15%);
}
.specification-item:hover .txt{
    background-color: #fff;
    color: #000;
    margin-left: 8px;
}
.specification-item:hover .icon {
    border-color: #fff;
}
.specification-item:nth-child(1):hover .txt, .specification-item:nth-child(2):hover .txt {
    margin-right: 8px;
}



.special-offer {
    font-family: "RobotoSlabRegular", sans-serif;
    text-align: center;
    color: #fff;
    background: url("../img/special-offer-bg.png") no-repeat center center;
    background-size: cover;
    padding: 80px 0 70px;
}
.special-offer h2 {
    font-size: 36px;
}
.special-offer h2 strong {
    color: #e98a2e;
    -webkit-text-stroke: 1px #623c16;
}
.special-offer p {
    font-size: 24px;
    margin: 40px 0 30px;
}
.special-offer p strong {
    text-transform: uppercase;
}


.how-to {
    padding: 110px 0;
}
.how-to .video {
    width: 552px; height: 310px;
    position: relative;
}
.how-to .video-wrap {
    width: 552px; height: 310px;
    background: url("../img/how-to-video-blank.png");
    background-size: cover;
    position: absolute; top: 0; right: 1px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}
.how-to .video-wrap:hover {
    background: url("../img/how-to-video-hover.png") no-repeat;
}
.how-to .video-wrap:before {
    content: '';
    width: 100px; height: 100px;
    background: #e98a2e;
    border-radius: 100%;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}
.how-to .video-wrap:hover:before {
    transform: scale(1.15, 1.15) translate(-50%, -50%);
    transform-origin: 25% 25%;
}
.how-to .video-wrap:after {
    content: url("../img/play-video.png");
    width: 40px; height: 46px;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 3;
}


.how-to .how-to-wrap {
    letter-spacing: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.how-to .how-to-wrap h2{
    font: 36px "RobotoSlabRegular";
    margin: -10px 0 40px;
}
.how-to .how-to-wrap h2 strong{
    font-family: "RobotoSlabBold", sans-serif;
}
.how-to .how-to-wrap ul {
    font: 20px "RobotoLight";
    font-style: italic;
    padding: 0;
}
.how-to .how-to-wrap ul li {
    padding-left: 50px;
    position: relative;
    margin-bottom: 20px;
}
.how-to .how-to-wrap ul li:nth-child(1):before {
    content: '';
    background: url("../img/how-to-first.png") no-repeat;
    width: 31px; height: 31px;
    position: absolute; top: 0; left: 0;
}
.how-to .how-to-wrap ul li:nth-child(2):before {
    content: '';
    background: url("../img/how-to-second.png") no-repeat;
    width: 31px; height: 31px;
    position: absolute; top: 0; left: 0;
}
.how-to .how-to-wrap ul li:nth-child(3):before {
    content: '';
    background: url("../img/how-to-done.png") no-repeat;
    width: 31px; height: 31px;
    position: absolute; top: 0; left: 0;
}


.sale {
    background: #eee;
    padding: 110px 0 85px;
}
.sale .sale-stopper-wrap .price {
    top: -20px; right: 50px;
    color: #fff;
}
.sale h2 {
    font: 36px "RobotoSlabBold";
    margin-left: 20px;
    margin-bottom: 25px;
}
.sale h2 strong {
    text-transform: uppercase;
}
.sale .sale-description-wrap {
    margin-left: 20px;
}
.sale .sale-description-wrap > p {
    display: inline-block;
    max-width: calc(50% - 20px);
    font: 24px "RobotoSlabRegular";
}
.sale .timer-wrap {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
}
.sale .timer-wrap p {
    font: 18px "RobotoLight";
    font-style: italic;
    margin-bottom: 5px;
}
.sale .timer-wrap .timer div {
    display: inline-block;
    font: 36px "Roboto Slab";
    position: relative;
    padding-bottom: 10px;
    width: 50px;
}
.sale .timer-wrap .timer div:nth-child(3) {
    margin-left: 5px;
}
.sale .timer-wrap .timer div:nth-child(4) {
    margin-left: -5px;
}
.sale .timer-wrap .timer div:after {
    content: ':';
    margin-left: 5px;
    font-weight: bold;
}
.sale .timer-wrap .timer div:nth-child(1):before {
    content: 'дней';
    position: absolute; bottom: 0; left: 10%;
    font-size: 11px;
}
.sale .timer-wrap .timer div:nth-child(2):before {
    content: 'часов';
    position: absolute; bottom: 0; left: 3%;
    font-size: 11px;
}
.sale .timer-wrap .timer div:nth-child(3):before {
    content: 'минут';
    position: absolute; bottom: 0; left: 3%;
    font-size: 11px;
}
.sale .timer-wrap .timer div:nth-child(4):after {
    content: 'секунд';
    position: absolute; bottom: 0; left: 0;
    font-size: 11px; font-weight: normal;
}

.sale .sale-description-wrap ul {
    font: 18px "RobotoLight";
    font-style: italic;
    padding: 0;
    margin: 25px 0 0 20px;
}
.sale .sale-description-wrap ul li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 45px;
}
.sale .sale-description-wrap ul li:nth-child(1):before {
    content: '';
    background: url("../img/sale-item1.png") no-repeat;
    width: 31px; height: 31px;
    position: absolute; top: 0; left: 0;
}
.sale .sale-description-wrap ul li:nth-child(2):before {
    content: '';
    background: url("../img/sale-item2.png") no-repeat;
    width: 31px; height: 31px;
    position: absolute; top: 0; left: 0;
}




.wholesale {
    padding: 25px 0;
    background: #424242;
    color: #fff;
    font: 24px "RobotoLight";
    text-align: center;
}
.wholesale a {
    text-decoration: none;
    color: #fff;
}
.wholesale a:hover {
    color: #fff;
    text-decoration: underline;
}


.feedback {
    padding: 100px 0 90px;
    text-align: center;
    background: #fafafa;
}
.feedback h2{
    font: 36px "RobotoSlabRegular";
    text-transform: uppercase;
    margin-bottom: 60px;
}
.owl-carousel {
    margin: auto;
    width: 90% !important;
}
.owl-carousel .owl-item {
    padding: 50px 0 20px;
}
.left-arrow {
    position: absolute; left: -40px;
}
.right-arrow {
    position: absolute; right: -40px;
}
.left-arrow, .right-arrow {
    top: 50%;
    background: #e98a2e;
    border-radius: 100%;
    width: 40px; height: 40px;
    transition: .2s;
    cursor: pointer;
}
.left-arrow:before, .right-arrow:before {
    content: '';
    position: absolute; top: 50%; right: 50%;
    background: url("../img/left_arrow.png");
    width: 14px; height: 21px;
    transform: translate(50%, -50%);
}
.right-arrow:before {
    transform: translate(50%, -50%) rotate(180deg);
}
.left-arrow:hover, .right-arrow:hover {
    transform: scale(1.2, 1.2);
}


.feedback .feedback-item {
    max-width: 330px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.2) 3px 0 15px;
    margin: 0 15px;
}
.feedback .feedback-item p:first-child {
    font: 18px "RobotoSlabRegular";
    background: #eee;
    padding: 50px 0 15px;
    margin: 0;
    position: relative;
}
.feedback .feedback-item p:first-child:before {
    content: '';
    background: url("../img/feedback-photo.png") no-repeat;
    width: 90px; height: 90px;
    position: absolute; top: 0; left: 50%;
    transform: translate(-50%, -50%);
}
.feedback .feedback-item p:last-child {
    font: 14px "RobotoRegular";
    padding: 20px 35px;
    margin: 0;
}
.feedback .btn {
    margin-top: 40px;
}


.questions {
    padding: 90px 0;
    background: #eee;
    text-align: center;
}
.questions h2 {
    text-transform: uppercase;
    font: 36px "RobotoSlabRegular";
    margin-bottom: 35px;
}
.questions p {
    font: 18px "RobotoRegular";
}


footer {
    padding: 32px 0;
    background: #f5f5f5;
}
footer .logo {
    margin-top: 60px;
}
footer a {
     font: 16px "RobotoSlabRegular";
     text-decoration: none;
     color: #000;
    cursor: pointer;
}
footer a:hover {
    color: #9b3dac;
    text-decoration: none;
    transition: 0.2s;
}
footer .menu {
    margin: 0;
}
footer .menu > li {
    margin-bottom: 10px;
}
footer .menu > li:last-child {
    margin-bottom: 0;
}
footer .contacts > p{
    font: 18px "RobotoSlabRegular";
}
footer .contacts .tel{
    font: 16px "RobotoLight";
    width: 100%;
}